/* About Page Styling */
.about-container {
    padding: 4rem;
    width: auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: midnightblue;
    font-size: 1.8rem;
  }
  
  .about-img {
    border-radius: 50%;
  }
  
  .about-p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.2em;
  }

  @media screen and (max-width: 780px) {
    
    .about-container {
      padding: .5rem;
      max-width: 95%;
    }

  }

  